{% extends 'wrapper_index.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/index_error.css') }}">
    <title>Main Error | ExamBot</title>
{% endblock %}

{% block content %}
<div class="col-12 col-lg-10">
  <div class="notification container text-center col-12 col-md-5">
    <div class="notification_box">
      <h3>Error</h3>
      <hr align="center" width="100" size="2" color="#45A29E"/>
      <p>Something went wrong</p>
      <a href="" class="back-button">Back</a>
    </div>
  </div>
</div>
{% endblock %}

