{% extends 'wrapper_index.html' %}

{% block head %}
    <title>Question Table | ExamBot</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/users_table.css') }}">
{% endblock %}

{% block content %}
<div class="users container-fluid text-center col-12 col-md-10">
  <div class="users_table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Category</th>
          <th scope="col">Email</th>
          <th scope="col">Time Zone</th>
          <th scope="col">Count Session</th>
          <th scope="col">Date Registered</th>
          <th scope="col">Date Last Activity</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <th>{{user.user_id}}</th>
          <td>{{user.data.full_name}}</td>
          <td>{{user.data.category}}</td>
          <td>{{user.data.email}}</td>
          <th>{{user.data.time_zone}}</th>
          <td>{{user.data.count_session}}</td>
          <td>{{user.data.date_registered}}</td>
          <td>{{user.data.date_last_activity}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <div class="col mx-auto">
        {% if number_list != 1 %}
        <div class="element">
          <a href="/users/table/{{number_list-1}}" class="switch-button">Back</a>
        </div>
        {% endif %}
      </div>
      <div class="col mx-auto">
        <div class="element">
          <a href="#" class="delete-button">Delete</a>
        </div>
      </div>
      <div class="col mx-auto">
        <div class="element">
          <a href="/users/table/{{number_list+1}}" class="switch-button">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $('#delete-button').on('click', function(e) {
    e.preventDefault();
    Noty.overrideDefaults({
      layout   : 'bottomRight',
      theme: 'sunset',
      timeout: 3000,
    });
    var arrayOfChecked = [];
    $('input[type="checkbox"]:checked').each(function() {
      arrayOfChecked.push(this.value)
      //console.log(this.value);
    });
    $.ajax({
      url: "/questions/delete",
      type: "POST",
      processData: false,
      contentType: false,
      data: data,
      success: function(result){
        new Noty({
          text: 'Успешно',
        }).show();
      },
      error: function(data){
        new Noty({
          text: 'Ошибка',
        }).show();
      }
    });
    return !1;
  });
});
</script>
{% endblock %}